body {
  background-color: grey;
  color: black;
}

.item {
  padding: 25px;
  background-color: blue;
  border: 3px solid greenyellow;
  margin: 0;
  font-size: 24px;
  font-weight: 900;
}

.item2 {
  padding: 40px 25px;
  background-color: blue;
  border: 3px solid greenyellow;
  margin: 0;
  font-size: 24px;
  font-weight: 900;
}


.flex4 {
  display: flex;
  justify-content: start;
  align-items: stretch;
  border: 3px solid #ff0404;
  background-color: purple;
  margin: 50px 20px;
}

.flex5 {
  display: flex;
  justify-content: start;
  align-items: center;
  border: 3px solid #ff0404;
  background-color: purple;
  margin: 50px 20px;
}

.flex6 {
  display: flex;
  justify-content: start;
  align-items: flex-end;
  border: 3px solid #ff0404;
  background-color: purple;
  margin: 50px 20px;
}

.flex7 {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  border: 3px solid #ff0404;
  background-color: purple;
  margin: 50px 20px;
}