body {
  background-color: grey;
  color: black;
}

p {
  font-size: 20px;
}

.item {
  padding: 25px;
  background-color: blue;
  border: 3px solid greenyellow;
  margin: 0;
  font-size: 24px;
  font-weight: 900;

}

.flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  border: 3px solid #ff0404;
  background-color: purple;
  margin: 50px 20px;
  height: 200px;


}

.start {
  align-self: flex-start;
  flex-grow: 1;
  order: 5;
}

.end {
  align-self: flex-end;
  flex-grow: 2;
  order: 2;

}

.strecth {
  align-self: stretch;
  flex-grow: 3;

}

.center {
  align-self: center;
  flex-grow: 4;

}